<h1>Listing All Users</h1>

<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Email
    </th>
    <th>
      Betweenness Centrality
    </th>
  </tr>

  <% User.all.sort_by{|user| -user.betweenness_centrality}.each do |user|%>
  <tr>
    <td>
      <%= link_to user.name, user  %>
    </td>
    <td>
      <%= user.email %>
    </td>
    <td>
      <%=  sprintf('%.2f', user.betweenness_centrality ) %>
    </td>
  </tr>
  <% end %>



</table>
