<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/main.css" >
    <link rel="stylesheet" href="/tree.css" >
  </head>
  <body>
    <header>
      <title>TIDDER</title>

      <h1>TIDDER</h1>

      <nav>
        <a href="/topics">Topics</a>
        <a href="/posts">Posts</a>
        <a href="/users">Users</a>
      </nav>
    </header>
    <%= yield %>
  </body>

</html>
